<!DOCTYPE html>
{#{% import "bootstrap/wtf.html" as wtf %}#}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Week3</title>
</head>
<body>


<form method="POST" action="/">
    <h2>Enter your username and address</h2>
    {# CSRF Token #}
    {{ form.csrf_token }}
    {{ form.username }}
    {{ form.address }}
    <button class="btn btn-lg btn-primary btn-block" value="submit" type="submit">Submit</button>
</form>

{% if users %}
    {% for user in users %}
        <p>Username: {{ user[1] | e }} Address: {{ user[2] | e  }} Color: {{ user[3] | e  }} </p>
    {% endfor %}
{% endif %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message | e}}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

</body>
</html>