<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unsafe Index</title>
</head>
<body>

{% if username %}
    <h1>Hello {{ username | safe }}!</h1>
{% else %}
    <h1>Oops, no username!</h1>
{% endif %}

<form action="\unsafe_color_question" method="POST">
    <p> Favorite color  <input type="text" name="unsafe_fav_color"/></p>
    <p><input type="submit" value="submit"/></p>
</form>

{% if users %}
    {% for user in users %}
        <p>Username: {{ user[1] | safe }} Address: {{ user[2] | safe  }} Color: {{ user[3] | safe  }} </p>
    {% endfor %}
{% endif %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message | safe }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
</body>
</html>